@model MusicPlaylist.Models.Musica

<form method="post" asp-controller="Musicas" asp-action="Update">

    

    <div class="container border pt-3 pb-3 mb-3">
        <div class="form-group row bg-secondary">
            <h2 class="text-white pl-3 ">Editar Música</h2>
        </div>
 
        <div class=" bg-secondary p-3 mt-3 text-white d-flex justify-content-center align-items-center flex-wrap" width="80%" heigth="500px">

            <div class="prop">
                <label asp-for="Nome">Nome:</label>
                <input type="text" name="Nome" id="nome" asp-for="Nome"> 
            </div>

            <div class="prop">
                <label  asp-for="Autor">Autor:</label>
                <input type="text" name="Autor" id="Autor" asp-for="Autor">
            </div>

           <div class="prop">
                <label  asp-for="GeneroNome">Genero:</label>
                    <select asp-for="GeneroNome" name="GeneroNome" id="GeneroNome" class="form-select">
                        @foreach ( var gender in ViewBag.Generos){
                            <option value="@gender.Nome">@gender.Nome</option>
                        }

                    </select>
                @* <input type="text" name="GeneroNome" id="Genero" asp-for="GeneroNome"> *@
            </div>

            <div class="prop">

                <label  asp-for="MoodNome">Humor:</label>

                <select asp-for="MoodNome" name="MoodNome" id="MoodNome" class="form-select">

                    @foreach ( var mood in ViewBag.Moods){
                        <option value="@mood.Nome">@mood.Nome</option>
                    }

                </select>
                @* <input type="text" name="MoodNome" id="MoodNome" asp-for="MoodNome" class="form-control"> *@
            </div>

            <div class="prop">
                    <input type="submit" value="Atualizar"  class="btn  btn-success">
            </div>
        </div>
        <div class="validation-div">
            <span asp-validation-for="Nome" class="text-danger"></span>
            <span asp-validation-for="Autor" class="text-danger"></span>
            <span asp-validation-for="GeneroNome" class="text-danger"></span>
            <span asp-validation-for="MoodNome" class="text-danger"></span>
        </div>
        @* <div asp-validation-summary="All" class="text-danger validation-div" ></div> *@
    </div>

</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<style>
   .prop{
        margin: 1rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .validation-div ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .validation-div ul li{
        margin: 0 1rem;
    }

    form input{
        margin-left:5px;
        height:40px;
    }

    form select{
        margin-left:5px;
        min-width : 180px;
    }

</style>


